.itemTitle {
  color: white;
  font-family: "Space Mono", monospace;
  margin: 0px;
  padding: 0px;
}
.itemDescription {
  color: hsl(186, 14%, 43%);
  font-family: "Space Mono", monospace;
  margin: 0px;
  padding: 0px;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.amount {
  font-family: "Space Mono", monospace;
  font-size: 44px;
  color: hsl(172, 67%, 45%);
  margin: 0px;
  padding: 0px;
}

.itemHeader {
  margin: 0px;
  padding: 0px;
}
