.resetButton {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 40px;
  font-family: "Space Mono", monospace;
}

.resetButton:hover {
  background-color: hsl(172, 67%, 75%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}
