@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

body {
  background-color: hsl(185, 41%, 84%);
  padding: 0px;
  margin: 0px;
}
.appWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.splitter {
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
  width: 80px;
  margin-bottom: 60px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  letter-spacing: 5px;
  overflow-wrap: break-word;
}
